body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #424f6f;
    
}

#container {
     width: 400px;
     height: 400px;
     padding: 0;
     box-sizing: border-box;
     background: #424f6f;
     animation-name: move;
     animation-duration: 5s;
     animation-iteration-count: infinite;
   
}
    @keyframes move{
        0% {
            transform:translateX(500px);
           
        }
    
        50%{
            transform:translateX(-500px);
            
        }
    
        100% {
            transform:translateX(500px);
         
        }



    
}









*:after,
*:before {
     box-sizing: inherit;
}

#spooky{
    margin: 10% auto;
    width: 80%;
    height: 80%;
    animation: floaty .5s infinite;
}

#spooky #body {
    position: relative;
    margin: 50px auto 0;
    width: 180px;
    height: 220px;
    background: purple;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    animation-name: move;
}

#spooky #body:hover{
    background: #424f6f;
    transition: ease-in-out 1s;
}

#spooky #body:before,
#spooky #body:after{
    content: '';
    position: absolute;
    top: 130px ;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: orange;
    animation: floaty .5s infinite;
}



/* Ghost hands */
#spooky #body:before {
    left: -18px;
}

#spooky #body:after{
    right: -18px;
}
/* Ghost hands */

/* Ghost eyes */
#spooky #body #eyes {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 90px;
    height: 20px;
}

#spooky #body #eyes:before,
#spooky #body #eyes:after {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: orange;
    border-radius: 50%; 
}
/* Ghost eyes */

/* Ghost mouth */
#spooky #body #mouth {
    background: #252c49;
    margin: 25px auto 0;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


#spooky #body #mouth::before {
    content: '';
    display: block;
    background: orange  ;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}
/* Ghost mouth */


/* Ghost feet */
#spooky #body #feet {
    position: absolute;
    display: flex;
    bottom: -18px;
    width: 180px;
    height: 36px;
}

#spooky #body #feet > *,
#spooky #body #feet::before,
#spooky #body #feet::after {
    content: ' ';
    width: 36px;
    height: 36px;
    background: purple;
    border-radius: 50%;
}
/* Ghost feet */

#shadow {
    margin: -90px auto 0;
    background: red;
    width: 180px;
    height: 40px;
    border-radius: 50%;
    animation: zoomy .5s infinite;
 
}





@keyframes floaty {
    0%, 100% {
        transform:  translateY(0);
    }
    
    50%{
        transform: translateY(-20px);
    }
}

@keyframes zoomy {
    0%, 100% {
        transform: scale(3);
    }

    50%{
        transform: scale(0.8);
    }
}



.h1{
  margin-bottom: 500px;
  margin-right: 500px;
  font-family: creepster;
}





